.form{
    text-align: center;
}
nav ul{
    display: flex;
    margin-left: 1400px;
}
.h1{
    text-align: center;
    margin-left: 70px;
}
.h6{
    text-align: center;
    margin-left: 50px;
}
nav ul li{
    list-style: none;
    padding-left: 0 5px;
    margin-right: 10px;
}
nav li:hover{
    background-color: cadetblue;
}
nav li a{
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: darkgrey;
}
label{
    display: block;
    margin-top: 5px;
}
.submit{
    margin-left: 70px;
    margin-top: 5px;
}
.pass{
    margin-left: 6px;
}
